Repository phase2/particle, pull requests merged in 2018-10, with the labels that each got.

#399 Ensure alphanumeric sort order for twig namespaces.
  apps/drupal/particle.info.yml
  apps/grav/twig-namespaces.yaml
  apps/pl/pattern-lab/config/config.yml
  tools/tasks/gulp-twig-namespaces.js
Labels: gulp, twig

#400 SVG spritemap bump to v3
  package-lock.json
  package.json
  webpack.particle.js
Labels: icons, npm, webpack

#402 require.context() tune ups for better performance.
  apps/pl/demo/data.glob
  apps/pl/demo/demos.glob
  apps/pl/glob.js
  apps/pl/index.js
  package-lock.json
  package.json
  source/design-system.js
  tools/webpack/import-all.js
  tools/webpack/run-script-on-filetype-change.js
Labels: webpack

#403 composer.lock updates for latest dependencies
  apps/pl/pattern-lab/composer.lock
Labels: PHP, pattern lab

#404 Set project type to drupal-theme
  composer.json
Labels: PHP

#406 Yeoman causes lint error for test generation:
  tools/new-component/templates/pattern-test.js
Labels: testing/linting

#405 Make webpack quieter on prod so easier to spot errors
  apps/drupal/webpack.drupal.js
Labels: Drupal, webpack

#413 cssnano squishes css on production builds
  package-lock.json
  package.json
  webpack.particle.js
Labels: enhancement, webpack

#410 Updated link in `welcome.twig` to open in a new tab
  source/_patterns/00-protons/demo/welcome.twig
Labels: documentation

#431 pa11y update
  package.json
  tools/pl-paths.js
  tools/tests/accessibility/pa11y.js
Labels: accessibility, enhancement, node, pattern lab

#436 vue-jest upgrade
  jest.config.js
  package-lock.json
  package.json
  source/_patterns/02-molecules/vue-widget/__tests__/vue-cards.spec.js
Labels: npm, testing/linting

#450 Ignore the pl json import statement since it will not exist on new builds
  tools/pl-paths.js
Labels: testing/linting
