Repository phase2/particle, pull requests merged in 2018-08, with the labels that each got.

#317 Replace icon system
  .gitignore
  apps/drupal/particle.info.yml
  apps/grav/twig-namespaces.yaml
  apps/grav/webpack.grav.prod.js
  apps/pl/index.js
  apps/pl/pattern-lab/config/config.yml
  apps/pl/scss/_scss2json.scss
  apps/pl/webpack.pl.dev.js
  package-lock.json
  package.json
  source/_data/scssVariables.json
  source/_patterns/00-protons/_variables.scss
  source/_patterns/01-atoms/icon/__tests__/icon.test.js
  source/_patterns/01-atoms/icon/_icon.twig
  source/_patterns/01-atoms/icon/demo/icons.twig
  source/_patterns/01-atoms/icon/demo/index.js
  source/_patterns/01-atoms/icon/icon.md
  source/_patterns/01-atoms/icon/index.js
  source/_patterns/01-atoms/icon/scss/_icon-mixins.scss
  source/_patterns/01-atoms/icon/scss/_icon.scss
  source/_patterns/01-atoms/icon/scss/_icons-generated.scss
  source/_patterns/01-atoms/icon/svg/chevron-down.svg
  source/_patterns/01-atoms/icon/svg/chevron-left.svg
  source/_patterns/01-atoms/icon/svg/chevron-right.svg
  source/_patterns/01-atoms/icon/svg/chevron-up.svg
  source/_patterns/01-atoms/icon/svg/close.svg
  source/_patterns/01-atoms/icon/svg/menu.svg
  source/_patterns/01-atoms/icon/svg/person.svg
  source/_patterns/01-atoms/icon/svg/search.svg
  source/_patterns/01-atoms/icon/templates/iconfont-template.js
  source/_patterns/01-atoms/image/demo/image-inline.twig
  source/_patterns/01-atoms/svgicon/__tests__/svgicon.test.js
  source/_patterns/01-atoms/svgicon/_svgicon.scss
  source/_patterns/01-atoms/svgicon/_svgicon.twig
  source/_patterns/01-atoms/svgicon/demo/_svgicon-demo.scss
  source/_patterns/01-atoms/svgicon/demo/index.js
  source/_patterns/01-atoms/svgicon/demo/svgicons.md
  source/_patterns/01-atoms/svgicon/demo/svgicons.twig
  source/_patterns/01-atoms/svgicon/demo/svgicons.yml
  source/_patterns/01-atoms/svgicon/index.js
  source/_patterns/01-atoms/svgicon/scss/.gitkeep
  source/_patterns/01-atoms/svgicon/svg/chevron-down.svg
  source/_patterns/01-atoms/svgicon/svg/chevron-left.svg
  source/_patterns/01-atoms/svgicon/svg/chevron-right.svg
  source/_patterns/01-atoms/svgicon/svg/chevron-up.svg
  source/_patterns/01-atoms/svgicon/svg/close.svg
  source/_patterns/01-atoms/svgicon/svg/menu.svg
  source/_patterns/01-atoms/svgicon/svg/person.svg
  source/_patterns/01-atoms/svgicon/svg/search.svg
  source/_patterns/02-molecules/pagination/index.js
  source/design-system.js
  source/favicon.ico
  webpack.particle.dev.js
Labels: node, pattern lab, webpack

#348 Mock fetch in unit tests.
  jest.config.js
  package-lock.json
  package.json
  source/_patterns/02-molecules/example-widget/__tests__/example-widget.test.js
  tools/tests/unit/setupJest.js
Labels: testing/linting

#307 Clean up travis, add node 10 test.
  .travis.yml
  apps/drupal/particle.libraries.yml
  source/_data/data.yml
Labels: testing/linting

#352 Auto-inject import sass variables
  apps/pl/scss/_scss2json.scss
  source/_patterns/00-protons/_base.scss
  source/_patterns/00-protons/_variables.scss
  source/_patterns/00-protons/printing/_forms.scss
  source/_patterns/00-protons/printing/_html-elements.scss
  source/_patterns/00-protons/printing/_tables.scss
  source/_patterns/00-protons/printing/_transitions.scss
  source/_patterns/00-protons/printing/_type.scss
  source/_patterns/01-atoms/alert/_alert.scss
  source/_patterns/01-atoms/badge/_badge.scss
  source/_patterns/01-atoms/branding/_branding.scss
  source/_patterns/01-atoms/breadcrumb/_breadcrumb.scss
  source/_patterns/01-atoms/button/_button.scss
  source/_patterns/01-atoms/dropdown/_dropdown.scss
  source/_patterns/01-atoms/grid/_grid.scss
  source/_patterns/01-atoms/image/_image.scss
  source/_patterns/01-atoms/list-group/_list-group.scss
  source/_patterns/01-atoms/svgicon/_svgicon.scss
  source/_patterns/01-atoms/svgicon/demo/_svgicon-demo.scss
  source/_patterns/02-molecules/card/_card.scss
  source/_patterns/02-molecules/carousel/_carousel.scss
  source/_patterns/02-molecules/example-widget/_example-widget.scss
  source/_patterns/02-molecules/jumbotron/_jumbotron.scss
  source/_patterns/02-molecules/nav/_nav.scss
  source/_patterns/02-molecules/pagination/_pagination.scss
  source/_patterns/03-organisms/accordion/_accordion.scss
  source/_patterns/03-organisms/article/_article.scss
  source/_patterns/03-organisms/footer/_footer.scss
  source/_patterns/03-organisms/navbar/_navbar.scss
  source/_patterns/04-templates/basic-page/_basic-page.scss
  tools/new-component/templates/_pattern.scss
  webpack.particle.dev.js
  webpack.particle.prod.js
Labels: sass, webpack
